@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

:root{
    --font-padrao: 'Roboto', sans-serif;
    --font-labelbotao: 'Roboto', sans-serif;

    --inidegradetable: #FFF7AE;
    --fimdegradetable: #CE90F6;
    --inidegradelabelbotao:#FF3231;
    --fimdegradelabelbotao:#FF904C;
    --iniborderinput: #ff3131;
    --fimborderinput: #ff914d;
    --textocolorido: #DD4422;
    --textolabel: #8F8E8E;
}

body{
    font-family: var(--font-labelbotao);
    background: black url(../img/background/background-origin.png) center center no-repeat fixed;
    background-size: cover;
    position: relative;
    height: 96vh;
}

.areaEscSenha{
    background-image: linear-gradient(to right, var(--inidegradetable), var(--fimdegradetable));
    width: 450px;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.cabecario{
text-align: center;
color: var(--textocolorido);
}

form{
    text-align: center;
}

form label{
    display: inline-block;
    color: var(--textolabel);
    margin-top: 25px;
    margin-right: 150px;
    
}

form input, button{
    display: inline-block;
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.555);
    font-size: 18px;
    
}

form button{
    margin-top: 20px;
    font-size: 16px;
    border-radius: 10px;
}

