@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    height:96vh;
}

.biomaInicial{
    background: black url(../img/biomas/1.png) center center no-repeat scroll;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.biomaInicial button{
    width: 30px;
    height: 30px;
}

.biomaInicial button#1{
    width: 500px;
    height: 500px;
    color: black;
    background-color: black;
}