@charset "UTF-8";

body{
    background-image: url("img/background/background-origin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.tabelaLogin{
    background-image: linear-gradient(to right, #F0EDA8 , #FFA9F9);
    padding: 34px;
    border-radius: 5%;
    text-align: center;
}
.page{
    margin: auto;
    height: 100vh;
    width: 450px;
   
}