body{
    background-image: url("img/background/background-origin.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.tabelaLogin{
    background-color: white;
    padding: 34px;
    
    
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

input,button{
    padding: 10px;
    border-radius: 5px;
}

button{
width: 100px;

}